/**
 Utility rules
*/
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    overflow: hidden;
}
/**
  Generic rules
*/
body {
    background-color: #f1f0f0;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #444444;
    margin: 0;
    padding: 0;
}

a {
    color: #0066cc;
}

a:hover {
    color: #004080;
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

/**
 Layout rules
*/
.container {
    padding: 24px 0;
}
/**
  Sidebar specific rules
*/
.sidebar {
    background-color: #ffffff;
    /* max-width: 247px; */
    margin: 0 auto;
    padding: 12px;
}

.sidebar__header-text--primary {
    margin: 0;
    line-height: 42px;
}

.sidebar__header-text--secondary {
    margin: 6px 0;
}

.sidebar__header-text--description {
    margin: 0;
}

.sidebar__badge {
    margin: 12px 0 12px 12px;
}

.sidebar__link {
    text-decoration: none;
}

.sidebar__subtitle {
    margin: 6px 0;
}

.sidebar__body {
   
}

.sidebar__item-list {
    margin: 0;
    overflow: hidden;
}
.sidebar__item-title {
    font-weight: bold;
    margin: 0 0 12px 0;
}
.sidebar__item-data {
    margin: 0 0 12px 0;
}

.sidebar__item-data-icon {
    font-size: 16px;
    margin-right: 6px;
}

.sidebar__item-data--success {
    color: #3f8743;
}

.sidebar__item-data--warning {
    color: #eeac34;
}

.sidebar__item-data--error {
    color: #c7232d;
}


@media (min-width: 768px) { 
    h1 {
        font-size: 20px;
        font-weight: 400;
    }
    
    h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .sidebar {
        padding: 24px;
        max-width: 474px;
    }

    .sidebar__title {
        margin-bottom: 12px;
    }

    .sidebar__subtitle {
        margin: 0;
    }

    .sidebar__header-text--secondary {
        margin: 0;
    }
    
    .sidebar__header-text--description {
        margin: 6px 0;
    }

    .sidebar__item-data-icon {
        margin: 0 6px;
    }
    .sidebar__item-title {
		float: left;
		margin: 12px 0;
		width: 75%;
	}
	.sidebar__item-data {
		float: right;
		margin: 12px 0;
		width: 25%;
	}
}