* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 100px;
}

@media (min-width: 641px) {
    body {
       flex-direction: row;
       flex-wrap: wrap;
    }
    header, footer {
        flex: 0 0 100%;
    }
    nav, main {
        height: 100px;
    }
    nav {
        flex: 0 0 300px;
    }
    main {
        flex: 1;
    }
}