* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    height: 100px;
}

@media (min-width: 641px) {
    nav, main {
        height: 100px;
        display: inline-block;
    }
 
    nav {
        width: 300px;
    }

    main {
        width: calc(100% - 300px);
        margin-left: -4px; /*This trick can be unstable; It'd be better off using font-size: 0 in the parent and reset child to normal size if HTML could be modified.*/
    }
 
}